server:
  port: 8000

spring:
  application:
    name: "API Gateway"
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/user/**
            - id: post-service
              uri: http://localhost:8082
              predicates:
                - Path=/post/**
              metadata:
                cors:
                  allowedOrigins:
                    - "http://localhost:8000"
                  allowedMethods:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - OPTIONS
                  allowedHeaders:
                    - "*"
                  allowCredentials: true
      

management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway, httptrace
  endpoint:
    health:
      show-details: always