@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
}

:root {
}

.dark {
}

* {
    border-color: var(--border);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Lato', sans-serif;
}