volumes:
  models:
  pgdata:

services:
  ollama:
    image: ollama/ollama
    container_name: ollama-tagging
    volumes:
      - models:/ollama
  
  tag:
    build: ./tag/.
    container_name: tag_service
    depends_on:
      - ollama
    ports:
      - "8087:8000"
    environment:
      OLLAMA_HOST: "http://ollama-tagging:11434"
      POSTGRES_TAGGING_DB: "postgresql://user:password@db:5432/tags_db"

  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: tagging-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tags_db
    volumes:
      - pgdata:/data
