volumes:
  models:
  pgdata:

networks:
  tagging_network:
    driver: bridge

services:
  ollama:
    image: ollama/ollama
    container_name: ollama-tagging
    volumes:
      - models:/root/.ollama
      - ./init/ollama/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - tagging_network

  embeddings:
    build: ./embeddings/.
    container_name: embeddings_service
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - tagging_network
    ports:
      - "8091:8000"

  tag:
    build: ./tag/.
    container_name: tag_service
    depends_on:
      - ollama
      - embeddings
      - db
    ports:
      - "8087:8000"
    environment:
      OLLAMA_HOST: "http://ollama-tagging:11434"
      POSTGRES_TAGGING_DB: "postgresql://app_user:app_password@tagging-db:5432/tags_db"
      POST_TAG_DB: "postgresql://posttaguser:password@host.docker.internal:5440/posttagdb"
      EMBEDDINGS_URL: "http://embeddings_service:8000"
      POST_SERVICE_URL: "http://host.docker.internal:8082"
      TRANSLATION_URL: "http://host.docker.internal:8088"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - tagging_network

  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: tagging-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tags_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init/postgres:/docker-entrypoint-initdb.d
    networks:
      - tagging_network
    ports:
      - 5438:5432
